<div id="home">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h1>Book Shelf</h1>
                    </div>
                    <div class="card-footer text-muted border-light">
                        All these masterpieces are made by people just like you. Go ahead and pull one off the shelf.
                    </div>
                    <!--Trending stories Shelve-It -->
                    <br>
                    <div class="card-body">
                        {{#each stories}}
                        {{#unless draft}}
                        {{> author/userMasterpieces}}
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
                <br>
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h1>Search</h1>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Search for existing books by title.
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <form class="clearfix mb-4" action="POST">
                                <div class="form-group">
                                    <input type="text" id="search-text" class="form-control"
                                        aria-describedby="search-text" placeholder="Book Title">
                                </div>
                                <button id="submitbtn" class="btn btn-primary float-right">Submit</button>
                            </form>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <!-- Search result section -->
                    <div class="row" style="color: #000000">
                        <div class="col-sm-12">
                            <br>
                            <div class="card">
                                <div class="card-header">
                                    <strong>
                                        <i class="fa fa-table"></i> Searches</strong>
                                </div>
                                <div class="card-body" id="book-list">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h1>Enjoy</h1>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Get comfortable, you are in for a good time.
                    </div>
                    {{#each stories}}
                    {{#unless draft}}
                    <div class="card bg-light mb-3 collapse number{{this.id}}">
                        <div class="card-body" id="story-list">
                        </div>
                        <div style="color:#000000">
                            <span style="font-weight:bold;">{{title}}</span>
                            <br>
                            <span style="font-weight:bold;">Category: {{category}}</span>
                            <br>
                            <span style="font-weight:bold;">Type: {{storyType}}</span>
                            <br>
                            <div class="card-body">
                                <div class="quillReader">{{storyText}}</div>
                            </div>
                        </div>
                    </div>
                    {{/unless}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link here -->
<script src="/js/reader.js"></script>
<script src="/js/nav.js"></script>