<div id="home">
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h1>Book Shelf</h1>
                    </div>
                    <div class="card-footer text-muted border-light">
                        All these masterpieces are made by people just like you. Go ahead and pull one off the shelf.
                    </div>
                    <!--Trending stories Shelve-It -->
                    <br>
                    <div class="card-body">
                        {{#each stories}}
                        {{#unless draft}}
                        {{> author/userMasterpieces}}
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
                <br>
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h1>Search</h1>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Search for existing books by title.
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <form class="clearfix mb-4" action="POST">
                                <div class="form-group">
                                    <input type="text" id="search-text" class="form-control"
                                        aria-describedby="search-text" placeholder="Book Title">
                                </div>
                                <button id="submitbtn" type="button" class="btn btn-primary float-right">Search <i
                                        class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <br>
                    <!-- Search result section -->
                    <div class="row" style="color: #000000">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="card" id="book-list">
                            </div>
                            <br>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card text-center text-white bg-dark mb-3">
                    <div class="card-header border-light">
                        <h1>Enjoy <i class="fas fa-book-open fa-xs"></i></h1>
                    </div>
                    <div class="card-footer text-muted border-light">
                        Get comfortable, you are in for a good time.
                    </div>
                    <div class="container-fluid">
                        {{#each stories}}
                        {{#unless draft}}
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="card bg-secondary mb-3 collapse number{{this.id}}">
                                    <br>
                                    <a class="btn btn-lg btn-info infoBubble" data-trigger="hover" data-toggle="popover"
                                        data-placement="top" title="Category: {{category}}"
                                        data-content="Type: {{storyType}}">{{title}}</a>
                                    <div>
                                        <div class="card-body quillScroller{{this.id}}" style="color: #000000">
                                            <div class="quillReader{{this.id}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        {{/unless}}
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- styling for Quill only on this path -->
        <style>
            .ql-container {
                font-size: 16px;
            }

            .ql-editor {
                padding-right: 12px;
                padding-left: 12px;
                background-color: #ffffff;
            }
        </style>

        <!-- Jquery CDN here -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- Custom JS link here -->
        <script src="/js/reader.js"></script>
        <script src="/js/nav.js"></script>