<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                {{!-- <h2> Readers page</h2> --}}
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="search-text">Search by Book Title</label>
                        <input type="text" id="search-text" class="form-control" aria-describedby="search-text"
                            placeholder="Enter search Text">
                    </div>

                    <button id="submitbtn" class="btn btn-primary float-right">Submit</button>
                </form>


                <!--Trending stories Shelve-It -->
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                <strong>
                                    <i class="fa fa-table"></i> Author Stories </strong>
                            </div>
                            <div class="card-body" id="story-list">
                            </div>
                            <ul>
                                {{#each stories}}
                                {{#unless draft}}

                                <p style="color:grey;">
                                    <span style="font-weight:bold;">{{this.id}}. {{this.title}}</span><br><span
                                        style="font-weight:bold;">Author:</span>
                                    {{this.author}} <br><span style="font-weight:bold;">Catergory:</span>
                                    {{this.category}}
                                    <br>
                                    <span style="font-weight:bold;">{{this.storyType}}</span> <br>
                                    {{this.storyText}}

                                </p>
                                {{/unless}}
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Search result section -->
                <div class="row">
                    <div class="col-sm-12">
                        <br>
                        <div class="card">
                            <div class="card-header">
                                <strong>
                                    <i class="fa fa-table"></i> Searches</strong>
                            </div>
                            <div class="card-body" id="book-list">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Jquery CDN here -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Custom JS link here -->
<script src="/js/reader.js"></script>